.installed.cfg
bin/
include/
lib/
lib64/
migrations/
logs
logs/
*.save
.vscode

# Byte-compiled / optimized / DLL files
# src/philips_hue/__pycache__/
__pycache__
*/__pycache__
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# environment file
.env

# setup guide
SETUP_GUIDE.md

# virtual environemnts
hub_env/
myenv/

# MacOS files
DS_STORE

