{% extends 'philips_hue/base.html' %}
{% block content %}
<div class="container p-2 m-2">
    <div class="card card-hover">
        <h2> Devices </h2>
        <p class="lead">Here are the devices in my home </p>


        {% if devices %}
        <div class="card-body p-2 m-2">
            <div class="row p-1 m-1">
                <button class="btn btn-primary btn-sm" id='updatedevices' href="#" value="Turn the devices">Turn On the
                    devices</button>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Name</th>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Is On</th>
                        <th>Brightness</th>
                        <th>Special Effects On?</th>
                        <th>Saturation</th>
                        <th>Action</th>
                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td>
                                <a href="{% url 'philips_hue:device_detail' pk=devicepk %}">{{ devicemetadata.name
                                    }}</a>
                            </td>
                            <td>{{ device.uuid }}</td>
                            <td>{{ device.metadata.archetype }}</td>
                            <td>{{ device.state.on }}</td>
                            <td>{{ device.state.dimming.brightness }}</td>
                            <td>{{ device.state.effects.status }}</td>
                            <td>{{ device.state.color }}</td>
                            <td><a class="btn btn-primary btn-sm"
                                    href="{% url 'philips_hue:device_detail' pk=devicepk %}">Detail</a>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end of table -->
        </div>
        <!-- end of card-body  -->
    </div>
</div>
<!-- end of container -->
{% else %}
<p>No devices found.</p>
{% endif %}

<!-- </div> -->

{% endblock %}